.page-header {
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	background-image: url('http://delinear.info/images/th3n04h/sidebar/z019.png');
}

.header {
	font-size: 100px;
}

.container {
	text-align: center;
	font-family: 'Philosopher', sans-serif;
}

.crystal {
	width: 80%;
	height: 30%;
}

.crystal:hover {
	cursor: pointer;
}